@import url('https://fonts.googleapis.com/css?family=Rancho|Overpass&display=swap');

.App {
  text-align: center;
}

body {
  color: rgb(61, 175, 160);
  border: 20px solid gold;
}


button {
  margin-top: 5%;
}

.profitTotal button {
  float: right;
}

.page {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}

.main {
  display: flex;
  max-width: 60vw;
  justify-content: flex-start;
}

.background {
  max-width: 100%;
}

.sidebar {
  min-width: 30vw;
  display: flex;
  flex-direction: column;
  margin: 1%;
  justify-self: center;
  margin-left: 2%;
}

.sidebar h1 {
  color: deeppink;
  font-family: 'Rancho', cursive;
  font-size: 5vw;
  text-align: left;
  transform: rotate(-10deg);
  margin-top: 16px;
}


.drinks {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  margin: 5px;
}

.picbutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-family: 'Overpass', sans-serif;
  color: rgb(255, 185, 80);
}

.picbutton img {
  max-width: 50px;
  height: auto;
}

.currentOrder {
  width: 100%;
  border-radius: 20px;
  border: 2px solid coral;
  display: flex;
  flex-direction: row;
  padding: 1%;
}

.costPrice {
  width: 100%;
  border-radius: 20px;
  border: 2px solid coral;
  padding: 1%;
}

.profitTotal {
  width: 100%;
  border-radius: 20px;
  border: 2px solid coral;
  padding: 1%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
